<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=divice-width, initial-sclae=1">
  </head>
  <body>
    <div>
      <header>
        <nav class="navi">
          <ul>
            <li><a href="#about">Home</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#work">Expereiecne</a></li>
            <li><a href="#skills">Projects</a></li>
            <li><a href="#contacts">Contact</a></li>
          </ul>
        </nav>
      </header>
    <main>
      <br>
      <section id="about">
        <h1>Tommy <span id=unbold>SungKyun</span> Chung</h1>
        <img id="profile" src="/images/profile.jpg" alt=profile>
        <p class="beside">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <br><br><br>
        </p>
      </section>

      <section id="education">
        <h2>Education</h2>
        <img class="edu" src="/images/spas_logo.png" alt=spas>
        <p class="beside">Saint Paul Amercian School in Beijing (2014~2017)</p>
        <img class="edu" src="/images/uw_logo.png" alt=uw>
        <p class="beside">University of Washington, Paul G. Allen School of Computer Science & Engineering (2017~2023)</p>
      </section>

      <section id="work">
        <h2>Work Expereiecne</h2>
        <img class="edu" width=60px src="/images/rok_logo.png" alt=roka>
        <p class="beside">Republic of Korea Army: Sergent (2018.10~2020.04)
          <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
        </p>
        <img class="edu" src="/images/gachon.png" alt=gachon>
        <p class="beside">Gachon University Gil Hospital Research Center : Student Researcher (2020.07~2020.10)
          <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
        </p>
        <img class="edu" src="/images/gachon.png" alt=gachon>
        <p class="beside"> SaferZone: Intern (2021.07~2021.08)
          <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
        </p>
        
        
      </section>

      <section id="skills">
        <h2>Projects</h2>
        Github: <a href=https://github.com/tommy081812>https://github.com/tommy081812</a>
        <h3>Lorem Ipsum</h3>
        <ul>
          <h4>Skills: </h4>
          <li>Lorem ipsum dolor sit amet, consectetur adipisci</li>
          <h4>Description: </h4>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</li>
        </ul>

        <h3>Lorem Ipsum</h3>
        <ul>
          <h4>Skills: </h4>
          <li>Lorem ipsum dolor sit amet, consectetur adipisci</li>
          <h4>Description: </h4>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</li>
        </ul>

        <h3>Lorem Ipsum</h3>
        <ul>
          <h4>Skills: </h4>
          <li>Lorem ipsum dolor sit amet, consectetur adipisci</li>
          <h4>Description: </h4>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</li>
        </ul>

      </section>

      <section id="contacts">
        <h2>Contact</h2>
        <ul>
          <li>Email: <a href= mailto:sungkyun@uw.edu>sungkyun@uw.edu</a></li>
          <li>LinkedIn: </li>
          <li>Instagram: </li>
        
        </ul>
      </section>
    </main>
  </div>
  </body>
</html>
