<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=divice-width, initial-sclae=1">
  </head>
  <body>
    <div>
      <nav class="navi">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Resume</a></li>
          <li><a href="">Work</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <h1>Tommy <span id=unbold>SungKyun</span> Chung</h1>
      <br>
      <p>
      <img src="/images/profile.jpg" alt=profile>
      </p>
      <ul>
        <li>email: <a href= mailto:sungkyun@uw.edu>sungkyun@uw.edu</a></li>
        <li>git: <a href=https://github.com/tommy081812>https://github.com/tommy081812</a></li>
        <li></li>
      </ul>
    </div>
  </body>
</html>
